{% extends 'base.html' %}

{% block title %}
    Registar Empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registar nuevo departamento</h1>
        <form class="cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class="cell"><h3>Datos Empleado</h3></div>
            <div class="cell large-6">
                <label>Nombres:
                    {{form.nombre}}
                </label>
              </div>
              <div class="cell large-6">
                <label>Apellidos:
                    {{form.apellidos}}
                </label>
              </div>
              <div class="cell"><h3>Datos Departamento</h3></div>
              <div class="cell large-6">
                <label>Departamento:
                    {{form.departamento}}
                </label>
              </div>
              <div class="cell large-6">
                <label>Short Name:
                    {{form.shorname}}
                </label>
              </div>
              <div class="cell large-12">
                <button class="button success" type="submit">Guardar</button>
              </div>            
        </form>
    </div>
</div>

{% endblock content %}